{"openapi":"3.1.0","info":{"title":"Atlas API","description":"Atlas API Documentation","version":"1"},"servers":[{"url":"https://api.atlas.so"}],"paths":{"/v1/accounts":{"get":{"tags":["Accounts"],"summary":"List all accounts","description":"Lists all accounts","operationId":"list_api_v1_accounts_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalAccount_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/accounts/{id}":{"get":{"tags":["Accounts"],"summary":"Retrieve one account","description":"Retrieves one account","operationId":"get_api_v1_accounts__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/web__account__schemas__ExternalAccount"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/accounts/upsert":{"post":{"tags":["Accounts"],"summary":"Upsert account","description":"Upsert account","operationId":"upsert_api_v1_accounts_upsert_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateAccount"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/web__account__schemas__ExternalAccount"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/canned_responses":{"get":{"tags":["Canned Responses"],"summary":"List all canned responses","description":"Lists all canned responses","operationId":"list_canned_responses_v1_canned_responses_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalCannedResponse_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Canned Responses"],"summary":"Create canned response","description":"Creates canned response","operationId":"create_api_v1_canned_responses_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateCannedResponse"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCannedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/canned_responses/{id}":{"get":{"tags":["Canned Responses"],"summary":"Retrieve one canned response","description":"Retrieves one canned response","operationId":"get_api_v1_canned_responses__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCannedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Canned Responses"],"summary":"Update canned response","description":"Updates canned response","operationId":"update_api_v1_canned_responses__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateCannedResponse"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCannedResponse"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations":{"get":{"tags":["Conversations"],"summary":"List all conversations","description":"Lists all conversations","operationId":"list_conversations_v1_conversations_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"assignedAgentId","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Assignedagentid"}},{"name":"status","in":"query","required":false,"schema":{"anyOf":[{"$ref":"#/components/schemas/ConversationStatus"},{"type":"null"}],"title":"Status"}},{"name":"customerId","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Customerid"}},{"name":"startDate","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Startdate"}},{"name":"endDate","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Enddate"}},{"name":"subject","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subject"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalConversation_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Conversations"],"summary":"Create conversation","description":"Creates conversation","operationId":"create_conversation_v1_conversations_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateConversation"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalConversation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations/{id}":{"get":{"tags":["Conversations"],"summary":"Retrieve conversation","description":"Retrieves one conversation","operationId":"get_conversation_v1_conversations__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalConversation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Conversations"],"summary":"Update Conversation","description":"Updates the specific Conversation by setting the values of the parameters passed. Any parameters not provided will be left unchanged","operationId":"patch_conversation_v1_conversations__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalPatchConversation"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalConversation"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations/{id}/messages":{"get":{"tags":["Conversations"],"summary":"List conversation messages","description":"Lists conversation messages","operationId":"list_conversation_messages_v1_conversations__id__messages_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalMessage_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Conversations"],"summary":"Send Agent Message","description":"Sends a message from an agent to a customer","operationId":"send_message_v1_conversations__id__messages_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalSendMessage"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations/{id}/customer-messages":{"post":{"tags":["Conversations"],"summary":"Save Customer Message","description":"Appends a message from a customer to a ticket","operationId":"save_customer_message_v1_conversations__id__customer_messages_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomerMessage"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalMessage"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/messages":{"get":{"tags":["Conversations"],"summary":"List messages from a customer's conversations","description":"Lists messages from a customer's conversations","operationId":"list_messages_from_customer_tickets_v1_messages_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"customerId","in":"query","required":true,"schema":{"type":"string","format":"uuid","title":"Customerid"}},{"name":"side","in":"query","required":false,"schema":{"anyOf":[{"enum":["customer","agent","bot"],"type":"string"},{"type":"null"}],"title":"Side"}},{"name":"startDate","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Startdate"}},{"name":"endDate","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Enddate"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalMessage_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/customers":{"get":{"tags":["Customers"],"summary":"List all customers","description":"Lists all customers","operationId":"list_api_v1_customers_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalCustomer_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Customers"],"summary":"Create customer","description":"Creates customer","operationId":"create_api_v1_customers_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateCustomer"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomer"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/customers/{id}":{"get":{"tags":["Customers"],"summary":"Retrieves one customer","description":"Retrieves one customer","operationId":"get_api_v1_customers__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomer"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Customers"],"summary":"Update customer","description":"Updates customer","operationId":"update_api_v1_customers__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateCustomer"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomer"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/customers/lookup":{"post":{"tags":["Customers"],"summary":"Retrieves one customer","description":"Retrieves one customer","operationId":"get_via_id_v1_customers_lookup_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomerLookupRequest"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomer"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/customers/upsert":{"post":{"tags":["Customers"],"summary":"Upsert customer","description":"Upsert customer","operationId":"upsert_customer_api_v1_customers_upsert_post","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUpsertCustomer"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomer"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}},"security":[{"HTTPBearer":[]}]}},"/v1/users":{"get":{"tags":["Users"],"summary":"List all users","description":"Lists all users","operationId":"list_api_v1_users_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"email","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalUser_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Users"],"summary":"Create user","description":"Creates user","operationId":"create_api_v1_users_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateUser"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUser"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/users/{id}/status":{"get":{"tags":["Users"],"summary":"Retrieve user status","description":"Retrieves user status","operationId":"get_user_status_api_v1_users__id__status_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUserStatus"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/users/{id}":{"get":{"tags":["Users"],"summary":"Retrieve one user","description":"Retrieves one user","operationId":"get_api_v1_users__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUser"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Users"],"summary":"Update user","description":"Updates user","operationId":"update_api_v1_users__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateUser"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUser"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/tags":{"get":{"tags":["Tags"],"summary":"List all the tags","description":"Lists all the tags","operationId":"list_tags_v1_tags_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalTag_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Tags"],"summary":"Create a tag","description":"Creates a tag","operationId":"create_tags_v1_tags_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateTag"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTag"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/tags/{id}":{"post":{"tags":["Tags"],"summary":"Update a tag","description":"Updates a tag","operationId":"patch_tags_v1_tags__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateTag"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTag"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/tag-groups":{"get":{"tags":["Tags"],"summary":"List all the tag groups","description":"Lists all the tag groups","operationId":"list_tag_groups_v1_tag_groups_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalTagGroup_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Tags"],"summary":"Create a tag group","description":"Creates a tag group","operationId":"create_tag_groups_v1_tag_groups_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateTagGroup"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTagGroup"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/tag-groups/{id}":{"post":{"tags":["Tags"],"summary":"Update a tag group","description":"Updates a tag group","operationId":"patch_tag_groups_v1_tag_groups__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateTagGroup"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalTagGroup"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/sla-rules":{"get":{"tags":["Sla Rules"],"summary":"List all configured sla rules","description":"Lists all configured sla rules","operationId":"list_api_v1_sla_rules_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalSlaRule_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Sla Rules"],"summary":"Create sla rule","description":"Creates sla rule","operationId":"create_api_v1_sla_rules_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateSlaRule"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalSlaRule"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/sla-rules/{id}":{"get":{"tags":["Sla Rules"],"summary":"Retrieve one sla rule","description":"Retrieves one sla rule","operationId":"get_api_v1_sla_rules__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalSlaRule"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Sla Rules"],"summary":"Update sla rule","description":"Updates sla rule","operationId":"update_api_v1_sla_rules__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateSlaRule"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalSlaRule"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/custom-fields":{"get":{"tags":["Custom Fields"],"summary":"List all custom fields","description":"Lists all custom fields","operationId":"list_api_v1_custom_fields_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalCustomField_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Custom Fields"],"summary":"Create custom field","description":"Creates custom field","operationId":"create_api_v1_custom_fields_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateCustomField"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomField"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/custom-fields/{id}":{"get":{"tags":["Custom Fields"],"summary":"Retrieve one custom field","description":"Retrieves one custom field","operationId":"get_api_v1_custom_fields__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomField"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Custom Fields"],"summary":"Update custom field","description":"Updates custom field","operationId":"update_api_v1_custom_fields__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateCustomField"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCustomField"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks":{"get":{"tags":["Webhooks"],"summary":"List all the the webhook and their subscriptions","description":"Lists all the webhook and their subscriptions","operationId":"list_webhooks_v1_webhooks_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalWebhookResponseSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Webhooks"],"summary":"Create a webhook subscriptions","description":"Create a webhook subscriptions","operationId":"create_webhook_subscriptions_v1_webhooks_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateWebhookSubscriptionSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalReadWebhookSubscriptionSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks/{id}":{"post":{"tags":["Webhooks"],"summary":"Update a webhook subscriptions","description":"Update a webhook subscriptions","operationId":"update_webhook_subscriptions_v1_webhooks__id__post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalPartialUpdateWebhookSubscriptionSchema"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalReadWebhookSubscriptionSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/webhooks/logs":{"get":{"tags":["Webhooks"],"summary":"List all the the webhook execution logs","description":"Lists all the webhook execution logs","operationId":"list_webhook_logs_v1_webhooks_logs_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalReadWebhookExecutionLogsSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/events":{"get":{"tags":["Custom Events"],"summary":"List all the the events","description":"Lists all the custom events","operationId":"list_events_v1_events_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"version","in":"query","required":false,"schema":{"type":"integer","default":2,"title":"Version"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalReadEventLogSchemaV2"},"example":{"updatedAt":1679671701,"createdAt":1679671701,"icon":"emoji::gear","objectType":"CUSTOMER","objectId":"335c09f1-2810-44da-816d-647b2510c467","name":"email","externalId":"335c09f1-2810-44da-816d-647b2510c467","description":"<em>from PR:</em><br><p>Take a note of Brian, he is CEO of Hubspot</p>","payload":{},"id":"6f6f95a6-f863-4240-a9c6-20e51b9a428e","processingStatus":"LINKED"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Custom Events"],"summary":"Create a new custom event","description":"Create a new custom event","operationId":"create_event_v1_events_post","security":[{"HTTPBearer":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ExternalCreateEventLogSchemaV2"},{"$ref":"#/components/schemas/ExternalCreateEventLogSchema"}],"title":" Entity","$ref":"#/components/schemas/ExternalCreateEventLogSchemaV2"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/ExternalReadEventLogSchemaV2"},{"$ref":"#/components/schemas/ExternalReadEventLogSchema"}],"title":"Response Create Event V1 Events Post","$ref":"#/components/schemas/ExternalReadEventLogSchemaV2"},"example":{"updatedAt":1679671701,"createdAt":1679671701,"icon":"emoji::gear","objectType":"CUSTOMER","objectId":"335c09f1-2810-44da-816d-647b2510c467","name":"email","externalId":"335c09f1-2810-44da-816d-647b2510c467","description":"<em>from PR:</em><br><p>Take a note of Brian, he is CEO of Hubspot</p>","payload":{},"id":"6f6f95a6-f863-4240-a9c6-20e51b9a428e","processingStatus":"LINKED"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/helpcenter/categories":{"get":{"tags":["HelpCenter"],"summary":"List all the the HelpCenter categories","description":"List all the the HelpCenter categories, hierarchically","operationId":"list_categories_v1_helpcenter_categories_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalCategoryResponseSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/helpcenter/categories/{id}/articles":{"get":{"tags":["HelpCenter"],"summary":"List all the the HelpCenter articles withing a category","description":"List all the the HelpCenter articles withing a category","operationId":"list_category_articles_v1_helpcenter_categories__id__articles_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"}],"title":"Id"}},{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalArticleListResponseSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/helpcenter/articles":{"get":{"tags":["HelpCenter"],"summary":"List all the the HelpCenter articles","description":"List all the the HelpCenter articles","operationId":"list_articles_v1_helpcenter_articles_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalArticleListResponseSchema_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/helpcenter/articles/{id}":{"get":{"tags":["HelpCenter"],"summary":"Get a HelpCenter article by id or slug","description":"Get a HelpCenter article by id or slug","operationId":"get_article_v1_helpcenter_articles__id__get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"id","in":"path","required":true,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"}],"title":"Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalArticleResponseSchema"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/sessions":{"get":{"tags":["Sessions"],"summary":"List session recordings","description":"Lists session recordings","operationId":"list_sessions_v1_sessions_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"cursor","in":"query","required":false,"schema":{"type":"integer","default":0,"title":"Cursor"}},{"name":"limit","in":"query","required":false,"schema":{"type":"integer","default":20,"title":"Limit"}},{"name":"externalId","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Externalid"}},{"name":"email","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"}},{"name":"pageUrl","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pageurl"}},{"name":"startedBefore","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Startedbefore"}},{"name":"startedAfter","in":"query","required":false,"schema":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Startedafter"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalSessionRecording_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/sessions/{session_id}/video":{"get":{"tags":["Sessions"],"summary":"Get session recording video","description":"Get session recording video","operationId":"get_video_url_v1_sessions__session_id__video_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Session Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SessionVideoResponse"},{"type":"null"}],"title":"Response Get Video Url V1 Sessions  Session Id  Video Get"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}},"post":{"tags":["Sessions"],"summary":"Request session recording video with callback","description":"Request session recording video with callback","operationId":"get_video_url_with_callback_v1_sessions__session_id__video_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"session_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Session Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SessionVideoRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/SessionVideoResponse"},{"type":"null"}],"title":"Response Get Video Url With Callback V1 Sessions  Session Id  Video Post"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations/{conversation_id}/sidebars":{"get":{"tags":["Sidebars"],"summary":"List all the sidebar for a conversation","description":"Lists all the sidebar for a conversation","operationId":"list_sidebars_by_conversation_id_v1_conversations__conversation_id__sidebars_get","security":[{"HTTPBearer":[]}],"parameters":[{"name":"conversation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Conversation Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalApiListResponse_ExternalSidebar_"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations/{conversation_id}/sidebars/create":{"post":{"tags":["Sidebars"],"summary":"create a sidebar","description":"create a sidebar","operationId":"create_sidebar_v1_conversations__conversation_id__sidebars_create_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"conversation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Conversation Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalCreateEmailSidebar"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/v1/conversations/{conversation_id}/sidebars/{sidebar_id}/update":{"post":{"tags":["Sidebars"],"summary":"Send a new message in a sidebar","description":"Send a new message in a sidebar","operationId":"update_sidebar_v1_conversations__conversation_id__sidebars__sidebar_id__update_post","security":[{"HTTPBearer":[]}],"parameters":[{"name":"conversation_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Conversation Id"}},{"name":"sidebar_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sidebar Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalUpdateEmailSidebar"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"AtlasObjectCategories":{"type":"string","enum":["CONVERSATION","ACCOUNT","CUSTOMER","USER","CANNED_RESPONSE","CHATBOT","COMPANY","CUSTOM_EVENTS","HELPCENTER","LINEAR","JIRA","SLACK","SENTRY","SESSION_RECORDING"],"title":"AtlasObjectCategories"},"Attachment":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"handle":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Handle"},"size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Size"},"contentId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Contentid"}},"type":"object","required":["name","url"],"title":"Attachment"},"Base64Attachment":{"properties":{"filename":{"type":"string","title":"Filename"},"content":{"type":"string","format":"binary","title":"Content"},"contentType":{"type":"string","title":"Contenttype"}},"type":"object","required":["filename","content","contentType"],"title":"Base64Attachment"},"CSATResponse":{"properties":{"score":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Score","default":""},"comment":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Comment","default":""}},"type":"object","title":"CSATResponse"},"ConversationPriority":{"type":"integer","enum":[0,1,2,3,4],"title":"ConversationPriority"},"ConversationStatistics":{"properties":{"firstResponseTime":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Firstresponsetime"},"avgResponseTime":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Avgresponsetime"},"totalResolutionTime":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Totalresolutiontime"}},"type":"object","title":"ConversationStatistics"},"ConversationStatus":{"type":"string","enum":["OPEN","SNOOZED","CLOSED","PENDING"],"title":"ConversationStatus"},"CustomFieldCategory":{"type":"string","enum":["account","customer","ticket"],"title":"CustomFieldCategory"},"CustomFieldRule":{"properties":{"conditions":{"additionalProperties":{"items":{"$ref":"#/components/schemas/CustomFieldRuleCondition"},"type":"array"},"propertyNames":{"$ref":"#/components/schemas/CustomFieldRuleConditionModeV1"},"type":"object","title":"Conditions"},"actions":{"additionalProperties":{"items":{"$ref":"#/components/schemas/CustomFieldRuleCondition"},"type":"array"},"propertyNames":{"$ref":"#/components/schemas/CustomFieldRuleActionMode"},"type":"object","title":"Actions"}},"type":"object","required":["conditions","actions"],"title":"CustomFieldRule"},"CustomFieldRuleActionMode":{"type":"string","enum":["filter"],"title":"CustomFieldRuleActionMode"},"CustomFieldRuleCondition":{"properties":{"field":{"type":"string","title":"Field"},"operator":{"type":"string","title":"Operator"},"value":{"anyOf":[{"type":"string"},{"type":"integer"},{"type":"number"},{"type":"boolean"},{"type":"string","format":"date-time"},{"items":{"type":"string"},"type":"array"},{"items":{"type":"integer"},"type":"array"},{"items":{"type":"number"},"type":"array"},{"items":{"type":"string","format":"date-time"},"type":"array"},{"type":"null"}],"title":"Value"},"entity":{"type":"string","title":"Entity"}},"type":"object","required":["field","operator","entity"],"title":"CustomFieldRuleCondition"},"CustomFieldRuleConditionModeV1":{"type":"string","enum":["all"],"title":"CustomFieldRuleConditionModeV1"},"CustomFieldTypes":{"type":"string","enum":["Text","Number","Decimal","Boolean","Date","List","MultiSelect","Agent","Customer","Ticket","Account","URL","Address","DynamicList","DynamicMultiSelect"],"title":"CustomFieldTypes"},"CustomerDefaultSenders":{"properties":{"sms":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sms"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"}},"type":"object","title":"CustomerDefaultSenders"},"DeliveryType":{"type":"integer","enum":[1,2,4,5,6,7,3,99,100],"title":"DeliveryType"},"EditableBy":{"type":"string","enum":["api","admin","agents"],"title":"EditableBy"},"EmailAddress":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"address":{"type":"string","title":"Address"},"inferredName":{"type":"boolean","title":"Inferredname","default":false}},"type":"object","required":["address"],"title":"EmailAddress"},"EventLogProcessingStatus":{"type":"string","enum":["PENDING","SUCCESS","INVALID","LINKED","FAILED","UNPROCESSED","UNKNOWN"],"title":"EventLogProcessingStatus"},"ExternalAccount-Input":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"externalId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externalid"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"}},"type":"object","title":"ExternalAccount"},"ExternalApiListResponse_ExternalAccount_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/web__account__schemas__ExternalAccount"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalAccount]"},"ExternalApiListResponse_ExternalArticleListResponseSchema_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalArticleListResponseSchema"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalArticleListResponseSchema]"},"ExternalApiListResponse_ExternalCannedResponse_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalCannedResponse"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalCannedResponse]"},"ExternalApiListResponse_ExternalCategoryResponseSchema_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalCategoryResponseSchema"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalCategoryResponseSchema]"},"ExternalApiListResponse_ExternalConversation_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalConversation"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalConversation]"},"ExternalApiListResponse_ExternalCustomField_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalCustomField"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalCustomField]"},"ExternalApiListResponse_ExternalCustomer_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalCustomer"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalCustomer]"},"ExternalApiListResponse_ExternalMessage_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalMessage"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalMessage]"},"ExternalApiListResponse_ExternalReadWebhookExecutionLogsSchema_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalReadWebhookExecutionLogsSchema"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalReadWebhookExecutionLogsSchema]"},"ExternalApiListResponse_ExternalSessionRecording_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalSessionRecording"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalSessionRecording]"},"ExternalApiListResponse_ExternalSidebar_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalSidebar"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalSidebar]"},"ExternalApiListResponse_ExternalSlaRule_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalSlaRule"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalSlaRule]"},"ExternalApiListResponse_ExternalTagGroup_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalTagGroup"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalTagGroup]"},"ExternalApiListResponse_ExternalTag_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalTag"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalTag]"},"ExternalApiListResponse_ExternalUser_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalUser"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalUser]"},"ExternalApiListResponse_ExternalWebhookResponseSchema_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ExternalWebhookResponseSchema"},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[ExternalWebhookResponseSchema]"},"ExternalApiListResponse_Union_ExternalReadEventLogSchemaV2__ExternalReadEventLogSchema__":{"properties":{"data":{"items":{"anyOf":[{"$ref":"#/components/schemas/ExternalReadEventLogSchemaV2"},{"$ref":"#/components/schemas/ExternalReadEventLogSchema"}]},"type":"array","title":"Data"},"total":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Total"},"cursor":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Cursor"},"limit":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Limit"}},"type":"object","required":["data"],"title":"ExternalApiListResponse[Union[ExternalReadEventLogSchemaV2, ExternalReadEventLogSchema]]"},"ExternalArticleListResponseSchema":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"categoryId":{"type":"string","format":"uuid","title":"Categoryid"},"companyId":{"type":"string","format":"uuid","title":"Companyid"},"slug":{"type":"string","title":"Slug"},"order":{"type":"number","title":"Order"},"lastPublishedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Lastpublishedat"},"title":{"type":"string","title":"Title"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"tags":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tags"},"upVotes":{"type":"integer","title":"Upvotes","default":0},"downVotes":{"type":"integer","title":"Downvotes","default":0},"mentions":{"type":"integer","title":"Mentions","default":0}},"type":"object","required":["id","categoryId","companyId","slug","order","title"],"title":"ExternalArticleListResponseSchema"},"ExternalArticleResponseSchema":{"properties":{"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"},"categoryId":{"type":"string","format":"uuid","title":"Categoryid"},"companyId":{"type":"string","format":"uuid","title":"Companyid"},"slug":{"type":"string","title":"Slug"},"order":{"type":"number","title":"Order"},"lastPublishedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Lastpublishedat"},"title":{"type":"string","title":"Title"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"content":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Content"},"tags":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Tags"},"upVotes":{"type":"integer","title":"Upvotes","default":0},"downVotes":{"type":"integer","title":"Downvotes","default":0},"mentions":{"type":"integer","title":"Mentions","default":0},"pageTitle":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Pagetitle"},"canonicalUrl":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Canonicalurl"},"segments":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Segments","default":["all"]},"locale":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Locale"}},"type":"object","required":["categoryId","companyId","slug","order","title"],"title":"ExternalArticleResponseSchema"},"ExternalAttachment":{"properties":{"name":{"type":"string","title":"Name"},"url":{"type":"string","title":"Url"},"size":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Size"}},"type":"object","required":["name","url"],"title":"ExternalAttachment"},"ExternalCannedResponse":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"type":"string","title":"Name"},"content":{"type":"string","title":"Content"}},"type":"object","required":["id","name","content"],"title":"ExternalCannedResponse"},"ExternalCategoryResponseSchema":{"properties":{"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updatedat"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat"},"companyId":{"type":"string","format":"uuid","title":"Companyid"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Slug"},"title":{"type":"string","title":"Title"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"icon":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Icon"},"parentId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Parentid"},"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["companyId","title","id"],"title":"ExternalCategoryResponseSchema"},"ExternalConversation":{"properties":{"customerId":{"type":"string","format":"uuid","title":"Customerid"},"customer":{"anyOf":[{"$ref":"#/components/schemas/ExternalCustomer"},{"type":"null"}]},"startedAt":{"type":"string","format":"date-time","title":"Startedat"},"lastMessage":{"anyOf":[{"$ref":"#/components/schemas/ExternalMessage"},{"type":"null"}]},"createdAt":{"type":"string","format":"date-time","title":"Createdat"},"closedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Closedat"},"closedBy":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Closedby"},"assignedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Assignedat"},"assignedBy":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Assignedby"},"browser":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Browser"},"operatingSystem":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Operatingsystem"},"assignedAgent":{"anyOf":[{"$ref":"#/components/schemas/ExternalUser"},{"type":"null"}]},"number":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Number"},"csat":{"anyOf":[{"$ref":"#/components/schemas/CSATResponse"},{"type":"null"}]},"statistics":{"anyOf":[{"$ref":"#/components/schemas/ConversationStatistics"},{"type":"null"}]},"updatedBy":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"},{"type":"null"}],"title":"Updatedby"},"assignedAgentId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"},{"type":"null"}],"title":"Assignedagentid"},"subject":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subject"},"status":{"anyOf":[{"$ref":"#/components/schemas/ConversationStatus"},{"type":"null"}]},"priority":{"anyOf":[{"$ref":"#/components/schemas/ExternalConversationPriority"},{"type":"null"}]},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"snoozedUntil":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Snoozeduntil"},"assignedTeamId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Assignedteamid"},"id":{"type":"string","format":"uuid","title":"Id"},"startedChannel":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startedchannel","default":""},"startedSubChannel":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Startedsubchannel"}},"type":"object","required":["customerId","startedAt","createdAt","id"],"title":"ExternalConversation"},"ExternalConversationPriority":{"type":"string","enum":["NO_PRIORITY","LOW","MEDIUM","HIGH","URGENT"],"title":"ExternalConversationPriority"},"ExternalCreateAccount":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"externalId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externalid"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"primaryContactId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Primarycontactid"},"accountManagerId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Accountmanagerid"},"secondaryAccountManagerId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Secondaryaccountmanagerid"}},"type":"object","title":"ExternalCreateAccount"},"ExternalCreateCannedResponse":{"properties":{"name":{"type":"string","title":"Name"},"content":{"type":"string","title":"Content"}},"type":"object","required":["name","content"],"title":"ExternalCreateCannedResponse"},"ExternalCreateConversation":{"properties":{"customerId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"}],"title":"Customerid"},"startedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Startedat","default":1742162436},"subject":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subject"},"messages":{"items":{"$ref":"#/components/schemas/ExternalCreateMessage"},"type":"array","title":"Messages"},"status":{"anyOf":[{"$ref":"#/components/schemas/ConversationStatus"},{"type":"null"}],"default":"OPEN"},"priority":{"anyOf":[{"$ref":"#/components/schemas/ExternalConversationPriority"},{"$ref":"#/components/schemas/ConversationPriority"},{"type":"null"}],"title":"Priority"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"assignedAgentId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"},{"type":"null"}],"title":"Assignedagentid"},"assignedTeamId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Assignedteamid"}},"type":"object","required":["customerId","messages"],"title":"ExternalCreateConversation"},"ExternalCreateCustomField":{"properties":{"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"companyId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Companyid"},"displayName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Displayname"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"category":{"anyOf":[{"$ref":"#/components/schemas/CustomFieldCategory"},{"type":"null"}],"default":"ticket"},"fieldMetadata":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Fieldmetadata"},"dynamicFieldMetadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Dynamicfieldmetadata","default":{}},"type":{"anyOf":[{"$ref":"#/components/schemas/CustomFieldTypes"},{"type":"null"}],"default":"Text"},"required":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Required"},"editableBy":{"anyOf":[{"items":{"$ref":"#/components/schemas/EditableBy"},"type":"array"},{"type":"null"}],"title":"Editableby","default":["api"]},"active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Active"},"rules":{"anyOf":[{"items":{"$ref":"#/components/schemas/CustomFieldRule"},"type":"array"},{"type":"null"}],"title":"Rules"},"dependsOn":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Dependson"}},"type":"object","title":"ExternalCreateCustomField"},"ExternalCreateCustomer":{"properties":{"firstName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Firstname"},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lastname"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"phoneNumber":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phonenumber"},"externalUserId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externaluserid"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"defaultSenders":{"anyOf":[{"$ref":"#/components/schemas/CustomerDefaultSenders"},{"type":"null"}]}},"type":"object","title":"ExternalCreateCustomer"},"ExternalCreateEmailSidebar":{"properties":{"agentEmail":{"type":"string","format":"email","title":"Agentemail"},"to":{"items":{"$ref":"#/components/schemas/EmailAddress"},"type":"array","title":"To"},"cc":{"anyOf":[{"items":{"$ref":"#/components/schemas/EmailAddress"},"type":"array"},{"type":"null"}],"title":"Cc"},"subject":{"type":"string","title":"Subject"},"body":{"type":"string","title":"Body"},"attachments":{"anyOf":[{"items":{"$ref":"#/components/schemas/Attachment"},"type":"array"},{"type":"null"}],"title":"Attachments"}},"type":"object","required":["agentEmail","to","subject","body"],"title":"ExternalCreateEmailSidebar"},"ExternalCreateEventLogSchema":{"properties":{"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat"},"objectType":{"$ref":"#/components/schemas/AtlasObjectCategories"},"objectId":{"type":"string","title":"Objectid"},"eventSource":{"type":"string","title":"Eventsource"},"eventType":{"type":"string","title":"Eventtype"},"eventKey":{"type":"string","title":"Eventkey","default":"event-source-event-type"},"externalId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externalid"},"eventCreatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Eventcreatedat","default":"2025-03-16T22:00:37.419401"},"eventDescription":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eventdescription"},"eventPayload":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Eventpayload"},"eventContext":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Eventcontext"},"eventProcessingStatus":{"anyOf":[{"$ref":"#/components/schemas/EventLogProcessingStatus"},{"type":"null"}]},"relatedObjects":{"anyOf":[{"items":{"$ref":"#/components/schemas/RelatedObjects"},"type":"array"},{"type":"null"}],"title":"Relatedobjects"},"eventIcon":{"anyOf":[{"type":"string","maxLength":2048},{"type":"null"}],"title":"Eventicon","default":"🔔"}},"type":"object","required":["objectType","objectId","eventSource","eventType"],"title":"ExternalCreateEventLogSchema"},"ExternalCreateEventLogSchemaV2":{"properties":{"source":{"type":"string","title":"Source","default":"atlas"},"eventIcon":{"anyOf":[{"type":"string","maxLength":2048,"default":"🔔"},{"type":"null"}],"title":"Eventicon"},"objectType":{"$ref":"#/components/schemas/AtlasObjectCategories","default":"CUSTOMER"},"objectId":{"type":"string","title":"Objectid"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"payload":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Payload"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat","default":"2025-03-16T22:00:37.471322"}},"type":"object","required":["objectId","name"],"title":"ExternalCreateEventLogSchemaV2"},"ExternalCreateMessage":{"properties":{"text":{"type":"string","title":"Text"},"senderId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"}],"title":"Senderid"},"side":{"type":"string","title":"Side"},"type":{"type":"string","title":"Type","default":"EXTERNAL"},"channel":{"type":"string","title":"Channel","default":"CHAT"},"cc":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Cc","default":[]},"attachments":{"anyOf":[{"items":{"$ref":"#/components/schemas/Base64Attachment"},"type":"array"},{"type":"null"}],"title":"Attachments"}},"type":"object","required":["text","senderId","side"],"title":"ExternalCreateMessage"},"ExternalCreateSlaRule":{"properties":{"name":{"type":"string","title":"Name"},"segment":{"type":"string","title":"Segment"},"priorities":{"anyOf":[{"items":{"$ref":"#/components/schemas/ExternalConversationPriority"},"type":"array"},{"type":"null"}],"title":"Priorities"},"firstResponseTime":{"type":"integer","title":"Firstresponsetime"},"nextResponseTime":{"type":"integer","title":"Nextresponsetime"},"workingHours":{"$ref":"#/components/schemas/WorkingHourTypes"},"rank":{"type":"number","title":"Rank"},"notifications":{"items":{"$ref":"#/components/schemas/SlaRuleNotification"},"type":"array","title":"Notifications"},"channels":{"items":{"$ref":"#/components/schemas/DeliveryType"},"type":"array","title":"Channels","default":[]},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]},"teams":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Teams","default":[]},"subChannels":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Subchannels","default":[]}},"type":"object","required":["name","segment","firstResponseTime","nextResponseTime","workingHours","rank","notifications"],"title":"ExternalCreateSlaRule"},"ExternalCreateTag":{"properties":{"groupId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Groupid"},"label":{"type":"string","title":"Label"},"archived":{"type":"boolean","title":"Archived","default":false}},"type":"object","required":["label"],"title":"ExternalCreateTag"},"ExternalCreateTagGroup":{"properties":{"label":{"type":"string","title":"Label"},"color":{"type":"string","title":"Color","default":"#000000"},"archived":{"type":"boolean","title":"Archived","default":false}},"type":"object","required":["label"],"title":"ExternalCreateTagGroup"},"ExternalCreateUser":{"properties":{"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat"},"firstName":{"type":"string","title":"Firstname"},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lastname"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"profileUrl":{"anyOf":[{"type":"string","maxLength":65536,"minLength":1,"format":"uri","examples":["http://www.example.com/"]},{"type":"null"}],"title":"Profileurl"},"accessTypes":{"anyOf":[{"items":{"$ref":"#/components/schemas/UserAccessType"},"type":"array"},{"type":"null"}],"title":"Accesstypes"}},"type":"object","required":["firstName"],"title":"ExternalCreateUser"},"ExternalCreateWebhookSubscriptionSchema":{"properties":{"event":{"$ref":"#/components/schemas/WebhookEvent"},"endpoint":{"type":"string","maxLength":65536,"minLength":1,"format":"uri","title":"Endpoint","examples":["http://www.example.com/"]}},"type":"object","required":["event","endpoint"],"title":"ExternalCreateWebhookSubscriptionSchema"},"ExternalCustomField":{"properties":{"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updatedat"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat"},"key":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Key"},"companyId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Companyid"},"displayName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Displayname"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"category":{"anyOf":[{"$ref":"#/components/schemas/CustomFieldCategory"},{"type":"null"}],"default":"ticket"},"fieldMetadata":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Fieldmetadata"},"dynamicFieldMetadata":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Dynamicfieldmetadata","default":{}},"type":{"anyOf":[{"$ref":"#/components/schemas/CustomFieldTypes"},{"type":"null"}],"default":"Text"},"required":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Required"},"editableBy":{"anyOf":[{"items":{"$ref":"#/components/schemas/EditableBy"},"type":"array"},{"type":"null"}],"title":"Editableby","default":["api"]},"active":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Active"},"rules":{"anyOf":[{"items":{"$ref":"#/components/schemas/CustomFieldRule"},"type":"array"},{"type":"null"}],"title":"Rules"},"dependsOn":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Dependson"},"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"}},"type":"object","title":"ExternalCustomField"},"ExternalCustomer":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"companyId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Companyid"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Firstname"},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lastname"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"phoneNumber":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phonenumber"},"externalUserId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externaluserid"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"createdAt":{"type":"string","format":"date-time","title":"Createdat"},"defaultSenders":{"anyOf":[{"$ref":"#/components/schemas/CustomerDefaultSenders"},{"type":"null"}]},"accountId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Accountid"},"account":{"anyOf":[{"$ref":"#/components/schemas/web__company__schemas__ExternalAccount"},{"type":"null"}]}},"type":"object","required":["id","createdAt"],"title":"ExternalCustomer"},"ExternalCustomerLookupRequest":{"properties":{"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"phoneNumber":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phonenumber"},"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid"}},"type":"object","title":"ExternalCustomerLookupRequest"},"ExternalCustomerMessage":{"properties":{"text":{"type":"string","title":"Text"},"customerId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"}],"title":"Customerid"},"channel":{"type":"string","title":"Channel","default":"CHAT"},"cc":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Cc","default":[]},"attachments":{"anyOf":[{"items":{"$ref":"#/components/schemas/Base64Attachment"},"type":"array"},{"type":"null"}],"title":"Attachments"}},"type":"object","required":["text","customerId"],"title":"ExternalCustomerMessage"},"ExternalEmailSidebarMessage":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"sidebarId":{"type":"string","format":"uuid","title":"Sidebarid"},"sender":{"$ref":"#/components/schemas/EmailAddress"},"to":{"items":{"$ref":"#/components/schemas/EmailAddress"},"type":"array","title":"To"},"cc":{"anyOf":[{"items":{"$ref":"#/components/schemas/EmailAddress"},"type":"array"},{"type":"null"}],"title":"Cc"},"subject":{"type":"string","title":"Subject"},"body":{"type":"string","title":"Body"},"attachments":{"anyOf":[{"items":{"$ref":"#/components/schemas/Attachment"},"type":"array"},{"type":"null"}],"title":"Attachments"}},"type":"object","required":["id","sidebarId","sender","to","subject","body"],"title":"ExternalEmailSidebarMessage"},"ExternalMessage":{"properties":{"id":{"type":"integer","title":"Id"},"side":{"type":"string","title":"Side"},"type":{"type":"string","title":"Type"},"createdAt":{"type":"string","format":"date-time","title":"Createdat"},"sentAt":{"type":"string","format":"date-time","title":"Sentat"},"agent":{"anyOf":[{"$ref":"#/components/schemas/ExternalUser"},{"type":"null"}]},"customer":{"anyOf":[{"$ref":"#/components/schemas/ExternalCustomer"},{"type":"null"}]},"text":{"type":"string","title":"Text"},"channel":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Channel","default":""},"attachments":{"items":{"$ref":"#/components/schemas/ExternalAttachment"},"type":"array","title":"Attachments","default":[]}},"type":"object","required":["id","side","type","createdAt","sentAt","text"],"title":"ExternalMessage"},"ExternalPartialUpdateWebhookSubscriptionSchema":{"properties":{"endpoint":{"type":"string","maxLength":65536,"minLength":1,"format":"uri","title":"Endpoint","examples":["http://www.example.com/"]},"status":{"$ref":"#/components/schemas/WebhookSubscriptionStatus","default":"ACTIVE"}},"type":"object","required":["endpoint"],"title":"ExternalPartialUpdateWebhookSubscriptionSchema"},"ExternalPatchConversation":{"properties":{"updatedBy":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"},{"type":"null"}],"title":"Updatedby"},"assignedAgentId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"},{"type":"null"}],"title":"Assignedagentid"},"subject":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Subject"},"status":{"anyOf":[{"$ref":"#/components/schemas/ConversationStatus"},{"type":"null"}]},"priority":{"anyOf":[{"$ref":"#/components/schemas/ExternalConversationPriority"},{"$ref":"#/components/schemas/ConversationPriority"},{"type":"null"}],"title":"Priority"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Tags"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"snoozedUntil":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Snoozeduntil"},"assignedTeamId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Assignedteamid"}},"type":"object","title":"ExternalPatchConversation"},"ExternalReadEventLogSchema":{"properties":{"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updatedat"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat"},"objectType":{"$ref":"#/components/schemas/AtlasObjectCategories"},"objectId":{"type":"string","title":"Objectid"},"eventSource":{"type":"string","title":"Eventsource"},"eventType":{"type":"string","title":"Eventtype"},"eventKey":{"type":"string","title":"Eventkey","default":"event-source-event-type"},"externalId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externalid"},"eventCreatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Eventcreatedat","default":"2025-03-16T22:00:37.419401"},"eventDescription":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Eventdescription"},"eventPayload":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Eventpayload"},"eventContext":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Eventcontext"},"eventProcessingStatus":{"anyOf":[{"$ref":"#/components/schemas/EventLogProcessingStatus"},{"type":"null"}]},"relatedObjects":{"anyOf":[{"items":{"$ref":"#/components/schemas/RelatedObjects"},"type":"array"},{"type":"null"}],"title":"Relatedobjects","default":[]},"eventIcon":{"anyOf":[{"type":"string","maxLength":2048},{"type":"null"}],"title":"Eventicon","default":"🔔"},"companyId":{"type":"string","format":"uuid","title":"Companyid"},"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["objectType","objectId","eventSource","eventType","companyId","id"],"title":"ExternalReadEventLogSchema"},"ExternalReadEventLogSchemaV2":{"properties":{"updatedAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updatedat"},"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat","default":1742162437},"eventIcon":{"anyOf":[{"type":"string","maxLength":2048,"default":"🔔"},{"type":"null"}],"title":"Eventicon"},"objectType":{"$ref":"#/components/schemas/AtlasObjectCategories","default":"CUSTOMER"},"objectId":{"type":"string","title":"Objectid"},"name":{"type":"string","title":"Name"},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description"},"payload":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Payload"},"id":{"type":"string","format":"uuid","title":"Id"},"processingStatus":{"anyOf":[{"$ref":"#/components/schemas/EventLogProcessingStatus"},{"type":"null"}]}},"type":"object","required":["objectId","name","id"],"title":"ExternalReadEventLogSchemaV2"},"ExternalReadWebhookExecutionLogsSchema":{"properties":{"signingSecret":{"type":"string","title":"Signingsecret"},"status":{"$ref":"#/components/schemas/WebhookExecutionStatus"},"requestEndpoint":{"type":"string","title":"Requestendpoint"},"requestHeaders":{"type":"object","title":"Requestheaders"},"requestBody":{"type":"string","title":"Requestbody"},"responseHeaders":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Responseheaders"},"responseBody":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Responsebody"},"responseStatusCode":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Responsestatuscode"},"responseTime":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Responsetime"},"event":{"$ref":"#/components/schemas/WebhookEvent"},"companyId":{"type":"string","format":"uuid","title":"Companyid"},"subscriptionId":{"type":"string","format":"uuid","title":"Subscriptionid"},"retryCount":{"type":"integer","title":"Retrycount","default":0},"nextRetryAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Nextretryat"},"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["signingSecret","status","requestEndpoint","requestHeaders","requestBody","event","companyId","subscriptionId","id"],"title":"ExternalReadWebhookExecutionLogsSchema"},"ExternalReadWebhookSubscriptionSchema":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"companyId":{"type":"string","format":"uuid","title":"Companyid"},"event":{"$ref":"#/components/schemas/WebhookEvent"},"endpoint":{"type":"string","maxLength":65536,"minLength":1,"format":"uri","title":"Endpoint","examples":["http://www.example.com/"]},"endpointKey":{"type":"string","title":"Endpointkey"},"status":{"$ref":"#/components/schemas/WebhookSubscriptionStatus"},"signingSecret":{"type":"string","title":"Signingsecret"}},"type":"object","required":["id","companyId","event","endpoint","endpointKey","status","signingSecret"],"title":"ExternalReadWebhookSubscriptionSchema"},"ExternalSendMessage":{"properties":{"text":{"type":"string","title":"Text"},"agentId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"string"}],"title":"Agentid"},"type":{"type":"string","title":"Type","default":"1"},"channel":{"type":"string","title":"Channel","default":"CHAT"},"cc":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Cc","default":[]},"attachments":{"anyOf":[{"items":{"$ref":"#/components/schemas/Base64Attachment"},"type":"array"},{"type":"null"}],"title":"Attachments"}},"type":"object","required":["text","agentId"],"title":"ExternalSendMessage"},"ExternalSessionRecording":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"customerId":{"type":"string","format":"uuid","title":"Customerid"},"startTime":{"type":"string","format":"date-time","title":"Starttime"},"lastActivity":{"type":"string","format":"date-time","title":"Lastactivity"},"info":{"anyOf":[{"$ref":"#/components/schemas/SessionRecordingInfo"},{"type":"null"}]}},"type":"object","required":["id","customerId","startTime","lastActivity"],"title":"ExternalSessionRecording"},"ExternalSidebar":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"conversationId":{"type":"string","format":"uuid","title":"Conversationid"},"number":{"type":"integer","title":"Number"},"createdAt":{"type":"string","format":"date-time","title":"Createdat"},"messages":{"items":{"$ref":"#/components/schemas/ExternalEmailSidebarMessage"},"type":"array","title":"Messages"}},"type":"object","required":["id","conversationId","number","createdAt","messages"],"title":"ExternalSidebar"},"ExternalSlaRule":{"properties":{"name":{"type":"string","title":"Name"},"segment":{"type":"string","title":"Segment"},"priorities":{"anyOf":[{"items":{"$ref":"#/components/schemas/ExternalConversationPriority"},"type":"array"},{"type":"null"}],"title":"Priorities"},"firstResponseTime":{"type":"integer","title":"Firstresponsetime"},"nextResponseTime":{"type":"integer","title":"Nextresponsetime"},"workingHours":{"$ref":"#/components/schemas/WorkingHourTypes"},"rank":{"type":"number","title":"Rank"},"notifications":{"items":{"$ref":"#/components/schemas/SlaRuleNotification"},"type":"array","title":"Notifications"},"channels":{"items":{"$ref":"#/components/schemas/DeliveryType"},"type":"array","title":"Channels","default":[]},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","default":[]},"teams":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Teams","default":[]},"subChannels":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Subchannels","default":[]},"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"},"companyId":{"type":"string","format":"uuid","title":"Companyid"}},"type":"object","required":["name","segment","firstResponseTime","nextResponseTime","workingHours","rank","notifications","companyId"],"title":"ExternalSlaRule"},"ExternalTag":{"properties":{"groupId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Groupid"},"label":{"type":"string","title":"Label"},"archived":{"type":"boolean","title":"Archived","default":false},"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"},"used":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Used","default":0}},"type":"object","required":["label"],"title":"ExternalTag"},"ExternalTagGroup":{"properties":{"label":{"type":"string","title":"Label"},"color":{"type":"string","title":"Color","default":"#000000"},"archived":{"type":"boolean","title":"Archived","default":false},"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"}},"type":"object","required":["label"],"title":"ExternalTagGroup"},"ExternalUpdateEmailSidebar":{"properties":{"agentEmail":{"type":"string","format":"email","title":"Agentemail"},"subject":{"type":"string","title":"Subject"},"to":{"items":{"$ref":"#/components/schemas/EmailAddress"},"type":"array","title":"To"},"cc":{"anyOf":[{"items":{"$ref":"#/components/schemas/EmailAddress"},"type":"array"},{"type":"null"}],"title":"Cc"},"body":{"type":"string","title":"Body"},"attachments":{"anyOf":[{"items":{"$ref":"#/components/schemas/Attachment"},"type":"array"},{"type":"null"}],"title":"Attachments"}},"type":"object","required":["agentEmail","subject","to","body"],"title":"ExternalUpdateEmailSidebar"},"ExternalUpsertCustomer":{"properties":{"id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Id"},"userId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Userid"},"firstName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Firstname"},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lastname"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"phoneNumber":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phonenumber"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"account":{"anyOf":[{"$ref":"#/components/schemas/ExternalAccount-Input"},{"type":"null"}]},"alternatePhoneNumbers":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Alternatephonenumbers"},"alternateEmails":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Alternateemails"}},"type":"object","title":"ExternalUpsertCustomer"},"ExternalUser":{"properties":{"createdAt":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Createdat"},"firstName":{"type":"string","title":"Firstname"},"lastName":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Lastname"},"email":{"anyOf":[{"type":"string","format":"email"},{"type":"null"}],"title":"Email"},"profileUrl":{"anyOf":[{"type":"string","maxLength":65536,"minLength":1,"format":"uri","examples":["http://www.example.com/"]},{"type":"null"}],"title":"Profileurl"},"accessTypes":{"anyOf":[{"items":{"$ref":"#/components/schemas/UserAccessType"},"type":"array"},{"type":"null"}],"title":"Accesstypes"},"id":{"type":"string","format":"uuid","title":"Id"}},"type":"object","required":["firstName","id"],"title":"ExternalUser"},"ExternalUserStatus":{"properties":{"isOnline":{"type":"boolean","title":"Isonline"}},"type":"object","required":["isOnline"],"title":"ExternalUserStatus"},"ExternalWebhookResponseSchema":{"properties":{"webhook":{"$ref":"#/components/schemas/ReadWebhookSchema"},"subscription":{"anyOf":[{"$ref":"#/components/schemas/ExternalReadWebhookSubscriptionSchema"},{"type":"null"}]}},"type":"object","required":["webhook"],"title":"ExternalWebhookResponseSchema"},"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"PageVisited":{"properties":{"url":{"type":"string","title":"Url"},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title"},"timestamp":{"type":"integer","title":"Timestamp"}},"type":"object","required":["url","timestamp"],"title":"PageVisited"},"ReadWebhookSchema":{"properties":{"event":{"$ref":"#/components/schemas/WebhookEvent"},"category":{"$ref":"#/components/schemas/WebhookServiceCategory"},"displayName":{"type":"string","title":"Displayname"},"description":{"type":"string","title":"Description","default":""}},"type":"object","required":["event","category","displayName"],"title":"ReadWebhookSchema"},"RelatedObjects":{"properties":{"objectType":{"$ref":"#/components/schemas/AtlasObjectCategories"},"objectId":{"type":"string","title":"Objectid"}},"type":"object","required":["objectType","objectId"],"title":"RelatedObjects"},"SessionRecordingInfo":{"properties":{"browser":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Browser"},"device":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Device"},"os":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Os"},"customerLocation":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customerlocation"},"customerIpAddress":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customeripaddress"},"customerTimezone":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Customertimezone"},"customEvents":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Customevents"},"chatTicketsStarted":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Chatticketsstarted"},"pagesVisited":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Pagesvisited"},"pagesVisitedDetails":{"anyOf":[{"items":{"$ref":"#/components/schemas/PageVisited"},"type":"array"},{"type":"null"}],"title":"Pagesvisiteddetails"},"sentryErrorCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Sentryerrorcount"},"consoleErrorCount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Consoleerrorcount"},"networkRequestsByStatus":{"anyOf":[{"additionalProperties":{"type":"integer"},"type":"object"},{"type":"null"}],"title":"Networkrequestsbystatus"}},"type":"object","title":"SessionRecordingInfo"},"SessionVideoRequest":{"properties":{"callback":{"type":"string","maxLength":65536,"minLength":1,"format":"uri","title":"Callback","examples":["http://www.example.com/"]}},"type":"object","required":["callback"],"title":"SessionVideoRequest"},"SessionVideoResponse":{"properties":{"sessionId":{"type":"string","format":"uuid","title":"Sessionid"},"videoUrl":{"type":"string","title":"Videourl"},"expiresAt":{"type":"string","format":"date-time","title":"Expiresat"}},"type":"object","required":["sessionId","videoUrl","expiresAt"],"title":"SessionVideoResponse"},"SlaRuleNotification":{"properties":{"id":{"type":"string","title":"Id"},"name":{"type":"string","title":"Name"},"interval":{"type":"integer","title":"Interval"},"condition":{"anyOf":[{"type":"string","const":"before"},{"type":"string","const":"after"}],"title":"Condition"},"channel":{"anyOf":[{"type":"string","const":"slack"},{"type":"string","const":"email"}],"title":"Channel"},"notify":{"anyOf":[{"type":"string"},{"items":{"type":"string"},"type":"array"}],"title":"Notify"},"showFullDetailsPostAnswerInSlack":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Showfulldetailspostanswerinslack"}},"type":"object","required":["name","interval","condition","channel","notify"],"title":"SlaRuleNotification"},"UserAccessType":{"type":"string","enum":["ADMIN","MEMBER","LIGHT","CONTRACTOR","VIEWER"],"title":"UserAccessType"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"},"WebhookEvent":{"type":"string","enum":["account.created","account.updated","conversation.created","conversation.agent","conversation.tags","conversation.custom_fields","conversation.status","conversation.priority","conversation.message","conversation.message.deprecated","customer.identify","customer.created","customer.updated","customer.custom_fields","customer.notes","customer.notes.deleted","session.finished","sidebar.sent","sidebar.received"],"title":"WebhookEvent"},"WebhookExecutionStatus":{"type":"string","enum":["SUCCESS","FAILURE","PENDING","RETRY"],"title":"WebhookExecutionStatus"},"WebhookServiceCategory":{"type":"string","enum":["CONVERSATION","ACCOUNT","CUSTOMER","NOTES","SESSION"],"title":"WebhookServiceCategory"},"WebhookSubscriptionStatus":{"type":"string","enum":["ACTIVE","INACTIVE"],"title":"WebhookSubscriptionStatus"},"WorkingHourTypes":{"type":"string","enum":["always","custom"],"title":"WorkingHourTypes"},"web__account__schemas__ExternalAccount":{"properties":{"id":{"type":"string","format":"uuid","title":"Id"},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"externalId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externalid"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"},"primaryContactId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Primarycontactid"},"accountManagerId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Accountmanagerid"},"secondaryAccountManagerId":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Secondaryaccountmanagerid"}},"type":"object","required":["id"],"title":"ExternalAccount"},"web__company__schemas__ExternalAccount":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name"},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email"},"website":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Website"},"externalId":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Externalid"},"customFields":{"anyOf":[{"type":"object"},{"type":"null"}],"title":"Customfields"}},"type":"object","title":"ExternalAccount"}},"securitySchemes":{"HTTPBearer":{"type":"http","scheme":"bearer"}}}}
